
@{
    ViewData["Title"] = "About";
}

<div>
    <h3 class="text-center" style="margin-top: 5%">Who We Are</h3>
</div>

<div style="margin: 100px 0 0 20%">

    <div class="row">
        <div class="col-sm-5">
            <div class="card" style="width: 18rem;">
                <img src="~/images/roflanEbalo.jpg" class="card-img-top" alt="Aleksandr Los">
                <div class="card-body">
                    <h4 class="card-title">Aleksandr Los</h4>
                    <p class="card-title" style="opacity: 0.6">C# Programming</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card" style="width: 18rem;">
                <img src="~/images/roflanEbalo.jpg" class="card-img-top" alt="Vlad Trytyak">
                <div class="card-body">
                    <h4 class="card-title">Vlad Trytyak</h4>
                    <p class="card-title" style="opacity: 0.6">JS Programming</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>